.submenu_p_format() {
	font-weight: 100;
	font-size: 15px;
	font-family: UbuntuRegular, sans-serif;
	padding-bottom: 15px;
}
.submenu_headings_format(@size: 20px) {
	font-family: UbuntuRegular, sans-serif;
	font-size: @size;
	//font-weight: 400;
}
.readMore(@color: @DarkColor) {
	position: relative;
	top: 15px;
	a {
		.submenu_headings_format(15px);
		color: @color;
		display: inline-block;
		font-weight: bolder;
		transition: all 0.3s linear 0s;
		.fa {
			display: inline-block;
			text-align: center;
			background: @PinkColor;
			width: 30px;
			height: 30px;
			line-height: 30px;
			border-radius: 50%;
			color: white;
			transition: all 0.3s linear 0s;
		}
		&:hover{
			color: @ColorOnHover;
		}
		&:hover .fa{
			background: @ColorOnHover;
		}
	}
}
.contentHeadings(@fontsize: 60px, @color: @DarkColor) {
		font-family: Righteous, sans-serif;
		font-size: @fontsize;
		text-align: center;
		//border-bottom: 1px solid @ContentBorderColor;
		width: 100%;
		padding-bottom: 10px;
		color: @color;
}