@import url("myStyleHome.less");
@import url("myMixins.less");
@import url("myVariables.less");
@import url("myFonts.less");

.contentPart1Folio {
	position: relative;
	height: auto;
	text-align: center;
	.folioNav {
		width: 100%;
		padding-bottom: 15px;
		border-bottom: 1px solid @ContentBorderColor;
		margin-bottom: 15px;
		.folioNavUl {
			display: inline-block;
			font-family: UbuntuMedium, sans-serif, monospace;
			font-size: 18px;
			color: @DarkColor;
	
			&>li {
				float: left;
				margin-right: 20px;
				text-shadow: 5px 5px 15px @PinkColor;
				&:hover {
					color: @PinkColor;
					text-shadow: 5px 5px 15px @DarkColor;
					cursor: pointer;
				}
			}
		}
	}
	.toCenter {
		position: relative;
		height: auto;

	}
}